# Virtual Environment
venv/
.venv/

# Environment Variables
.env.local
.env.production
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Logs
*.log


# Dependencies
node_modules/

# Build output
dist/


# Vite
.vite/

# IDE
.idea/

# OS Files
.DS_Store
Thumbs.db